<h1>Listing composers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @composers.each do |composer| %>
      <tr>
        <td><%= composer.name %></td>
        <td><%= composer.country %></td>
        <td><%= link_to 'Show', composer %></td>
        <td><%= link_to 'Edit', edit_composer_path(composer) %></td>
        <td><%= link_to 'Destroy', composer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Composer', new_composer_path %>
